body {
    /* background-color: #002B75; */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FF8C00;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 250px;
    margin-right: 500px;

}

header nav ul {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.vitrine-virtual {
    color:black;
    text-align: center;
    font-size: 30px;
}

.vitrine-virtual h2{
    color:black;
}

.vitrine-virtual .btn-vitrine{
    /* color: black;
    border: 1px solid #ccc;
    padding: 20px;
    align-items: center; */
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.cursos {
    padding: 40px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.cursos h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
}

.curso-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
}

.curso-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.curso-item p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.curso-item .btn-saiba-mais {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.curso-item .btn-saiba-mais:hover {
    background-color: #555;
}

/* body {
    background-color: #FDF7F4;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
} */

.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
}

.intro-content {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro-content img {
    max-width: 150px;
    margin-bottom: 20px;
}

.intro-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #F05523; /* Cor semelhante ao laranja do logotipo */
}

.intro-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #333;
}

@media (max-width: 768px) {
    .intro-content {
        padding: 10px;
    }

    .intro-content img {
        max-width: 120px;
        margin-bottom: 15px;
    }

    .intro-content h1 {
        font-size: 20px;
    }

    .intro-content p {
        font-size: 14px;
    }
}


/* body {
    background-color: #002B75;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
} */

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #333;
}

.team-section {
    padding: 40px 20px;
    background-color: #FDF7F4;
}

.team-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.team-member {
    background-color: #ffffff;
    color: #333;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: transform 0.2s;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 4px solid #ff6c00; 
}

.team-member h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 14px;
    margin: 0;
}


.grid {
    background-color: #FDF7F4;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-top: 1px solid #333;
}

.grid-column {
    flex: 1;
    margin: 0 15px;
}

.grid-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.grid-column p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.grid-column a {
    text-decoration: none;
    color: #333;
}

.grid-column img {
    width: 30px;
    margin: 0 5px;
}

.grid-column a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .contato {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

footer .contato .info {
    width: 30%;
}

footer .links {
    margin-bottom: 20px;
}

footer .links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer .social img {
    width: 30px;
    margin: 0 10px;
}


